/*@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap);
/* 取消一些預設樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
    text-decoration: none;
}

input{
    border: none;
    appearance:none;
    -moz-appearance:none;
}
input:focus{
 outline:none;/*input標籤聚焦不出現預設邊框:*/
 }

/* [Desktop] index (w:1920) */
body{
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    position: relative; 
    font-family: "Noto Sans TC", sans-serif;
    font-style: normal;
    display: flex; flex-direction: column; align-items: center;
}

/* [Desktop] Navigation */
nav{
    position: sticky; /*永遠在最上面*/
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    z-index: 20;
    display: flex;justify-content: center;align-items: center;
}

/* div */
nav>div{
    width: min(90%, 1200px);
    height: 34px;
    left: 360px;
    top: 10px;
    display: flex;justify-content: space-between;
}

/* 台北一日遊 */
nav>div>h2>a{
    width: 150px;
    height: 34px;
    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
}

/* Frame 2 */
nav>div>div{
    /* Auto layout */
    display: flex;justify-content: center;align-items: center;
    
    height: 34px;
}

/* Button1 [forNavigation] */
nav>div>div>div:nth-child(1){
    width: 84px;
    height: 34px;
    display: flex;justify-content: center;align-items: center;
}

/* BUTTON */
.navButton1{
    width: 64px;
    height: 14px;
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}

/* Button2 [forNavigation] */
nav>div>div>div:nth-child(2){
    width: 91px;
    height: 34px;
    display: flex;justify-content: center;align-items: center;
}

/* BUTTON */
.navButton2{
    width: 71px;
    height: 14px;  
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}
/*-----------------------------------------------------*/
/* headline */
header{
    width: min(90%, 1000px); height: 27px;
    display:flex; justify-content: flex-start; align-items: center;
    margin-top: 40px;
}
header>div{
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;
}
.emptyState{
    width: min(90%, 1000px);
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    margin-top: 35px; margin-bottom: 40px;
}
/*-----------------------------------------------------*/
section{
    position: relative;
    width: min(90%, 980px);
    display: flex;flex-direction: column;
}
.bookingCard{
    position: relative;
    width: 100%;
    display: flex; justify-content: flex-start; align-items: center;
    margin-top: 30px;
}
/* icon / delete */
.deleteIcon{
    position: absolute;
    width: 30px; height: 30px;
    right: 0px; top: 0px;
    cursor: pointer;
}
/* picture */
.attractionImageBox{
    width: 250px; height: 200px;
}
.attractionImage{
    width: 250px; height: 200px;
    object-fit: cover;
    object-position: center;
}
/* info */    
.infoBox{
    width: min(100%, 700px); height: 170px;
    margin-left: 30px; margin-bottom: 30px;
    display: flex; flex-direction: column; align-items: flex-start;
}
/* 台北一日遊：平安鐘 */
.attractionName{
    height: 14px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #448899;
}
/* Frame 1  Frame 2  Frame 3  Frame 4 */
.bookingDateBox,.bookingTimeBox,.bookingPriceBox,.attractionAddressBox,.bookingIdBox{
    width: min(100%, 700px); height: 24px;
    margin-top: 15px;
    display: flex; justify-content: flex-start; align-items: center;
}
.bookingDateBox{
    margin-top: 25px;
}
/* 日期： */
.bookingDateTitle,.bookingTimeTitle,.bookingPriceTitle,.attractionAddressTitle,.bookingIdTitle{
    height: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 1px;
    color: #666666;
}
/* 2021-04-23 */
.bookingDate,.bookingTime,.bookingPrice,.attractionAddress,.bookingId{
    height: 14px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666; 
}
/*----------------------------------------------------------*/
main{
    width: min(90%, 1200px);
    margin-top: 40px;
    display: flex; flex-direction: column; align-items: center;
}
/* contact form payment */
.contactForm,.payment,.confirmBox{
    width: min(100%, 980px);
    margin-top: 40px; margin-bottom: 40px;
    display: flex; flex-direction: column; align-items: flex-start;
}
.confirmBox{
    align-items: flex-end;
}
/* 您的聯絡資訊 信用卡付款資訊 */
.contactForm>div:nth-child(1),.payment>div:nth-child(1){
    height: 16px;
    margin-top: 4px;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666
}
/* field */
.contactForm>div:nth-child(2),.contactForm>div:nth-child(3),.contactForm>div:nth-child(4),.payment>div:nth-child(2),.payment>div:nth-child(3),.payment>div:nth-child(4){
    width: min(100%, 980px); height: 38px;
    margin-top: 15px;
    display: flex; justify-content: flex-start; align-items: center;
}
.contactForm>div:nth-child(2),.payment>div:nth-child(2){
    margin-top: 24px;
}
/* 聯絡姓名： */
.contactForm>div:nth-child(2)>div:nth-child(1),.contactForm>div:nth-child(3)>div:nth-child(1),.contactForm>div:nth-child(4)>div:nth-child(1),.payment>div:nth-child(2)>div:nth-child(1),.payment>div:nth-child(3)>div:nth-child(1),.payment>div:nth-child(4)>div:nth-child(1){
    width: 81px; height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.errorContactMessage{
    margin-left: 10px;
    color: red;
}
.errorCardMessage{
    margin-top: 25px;
    color: red;
}
.contactForm>div:nth-child(2)>input,.contactForm>div:nth-child(3)>input,.contactForm>div:nth-child(4)>input{
    box-sizing: border-box;
    width: 200px; height: 38px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    text-indent: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #000000;
}
.tpfield{
    box-sizing: border-box;
    width: 200px; height: 38px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    padding-left: 10px;
}
/* field notice */
.contactForm>div:nth-child(5){
    width: min(100%, 980px); 
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
/* 總價：新台幣 2000 元 */
.confirmBox>div:nth-child(1){
    width: 157px; height: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    text-align: right;
    color: #666666;
}
/* Button [forBooking] */
.confirmBox>div:nth-child(2){
    width: 173px; height: 36px;
    margin-top: 25px;
    background: #448899;
    border-radius: 5px;
    display: flex; justify-content: center; align-items: center;
}
.confirmBox>div:nth-child(2)>a{
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
input::placeholder{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: grey;
}
.bookingButton{
    cursor: pointer;
}
/*----------------------------------------------------------*/
/* 分隔線 */
hr{
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    width: 100%;
}
.separator2{
    width: min(100%, 1200px);
}

/*-----------------------------------------------------*/


/* footer */
footer{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;
    /* Gray 700 */
    background: #757575;    
}

/* div */
footer>div{
    width: 234px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;align-items: center;justify-content: center;
}

/* COPYRIGHT © 2021 台北一日遊 */
footer>div>div{
    width: 234px;
    height: 14px;
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    /* Additional Color/White */
    color: #FFFFFF; 
}
.emptyFooter{
    width: 100%;
    height: 761px;
    background: #757575; 
}


/*-------------------------------------------------------------------------*/

@media (max-width:640px){
    .bookingCard{
        flex-wrap: wrap;
        justify-content: center;
    }
    .attractionImageBox,.attractionImage{
        width: 100%; height: 256px; 
    }
    .deleteIcon{
        top:461px;
    }
    .infoBox{
        margin-left: 0px; margin-top: 35px;
    }
}
@media (max-width:400px){
    header{
        width: 340px
    }
    .emptyState{
        width: 340px;
    }
    section{
        width: 340px;
    }
    .attractionImageBox,.attractionImage{
        width: 340px; height: 200px; 
    }
    .deleteIcon{
        top:405px;
    }
    main{
        width: 340px;
    }
    .confirmBox{
        margin-bottom: 62px;
    }
    nav{
        width: 360px;
        height: 54px;
    }
    nav>div{
        width: 360px;
        top:0;left: 0;
    }
    nav>div>h2{
        padding-left: 10px;
    }
    .separator1{
        border:0px;
        height: 0px;
    }
    
    .sloganBar{
        width: 340px; 
        top: 76px; 
         
    }
    .sloganBar>div{
        width: 320px;
        margin-left: 10px;
    }
    .slogan,.slogan>h1,.slogan>div{
        width: 320px;  
    }
}