/* Member */

.dialogMask{
    position: absolute;
    width: 1920px; height: 100%;
    left: 0px; top: 0px;
    background: #000000;
    opacity: 0.25;
    z-index: 40;
}
/* Dialog / signin */
.loginBox{
    width: min(95%,340px); height: auto;
    display: flex; flex-direction: column; align-items: center;
    position: fixed; top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 50;
}
/* decorator bar */
.loginBox>div:nth-child(1),.registerBox>div:nth-child(1){
    width: min(100%,340px); height: 10px; 
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
}
/* main */
.loginMainBox{
    width: min(100%,310px); height: auto;
    margin-top: 15px;
    position: relative;
    display: flex; flex-direction: column;
}
/* icon / close */
.cancelButton{
    position: absolute; top: 2px; right: 2px;
    width: 16px; height: 16px;
    background: url(/static/pic/icon_close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
/* 登入會員帳號 */
.loginMainBox>div:nth-child(2),.registerMainBox>div:nth-child(2){
    width: min(100%,310px); height: 27px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    text-align: center;
}
.loginMainBox>input,.registerMainBox>input{
    box-sizing: border-box;
    width: min(100%,310px); height: 47px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #757575;
    text-indent: 15px;
}
/* Button [forDialog] */
.loginMainBox>button,.registerMainBox>button{
    box-sizing: border-box;
    width: min(100%,310px); height: 47px;
    margin-top: 10px;
    background: #448899;
    border-radius: 5px;
    display: flex; justify-content: center; align-items: center;
    cursor: not-allowed;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}

button:disabled {
    background-color: rgba(102, 133, 141, 0.508);
}
/* 還沒有帳戶？點此註冊 */
.loginMainBox>div:nth-child(8),.registerMainBox>div:nth-child(9){
    width: min(100%,310px); height: 22px;
    margin-top: 10px; margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    text-align: center;
    cursor: pointer;
    cursor: pointer;
}

.registerBox{
    width: min(95%,340px); height: auto;
    display: flex; flex-direction: column; align-items: center;
    position: fixed; top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 50; 
}
.registerMainBox{
    width: min(100%,310px); height: auto;
    margin-top: 15px;
    position: relative;
    display: flex; flex-direction: column;
}

.none {
    display: none !important;
}

.errorMessage{
    width: 80%;
    color: red;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    text-indent: 5px;
}

/* login message */