@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap);
/* 取消一些預設樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
    text-decoration: none;
}

/* [Desktop] index (w:1920) */
body{
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    position: relative; 
    font-family: "Noto Sans TC", sans-serif;
    font-style: normal;
    display: flex; flex-direction: column; align-items: center;
}
/*-----------------------------------------------------*/
/* [Desktop] Navigation */
nav{
    position: sticky; /*永遠在最上面*/
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    z-index: 20;
    display: flex;justify-content: center;align-items: center;
}

/* div */
nav>div{
    width: min(90%, 1200px);
    height: 34px;
    left: 360px;
    top: 10px;
    display: flex;justify-content: space-between;
}

/* 台北一日遊 */
nav>div>h2>a{
    width: 150px;
    height: 34px;
    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
}

/* Frame 2 */
nav>div>div{
    /* Auto layout */
    display: flex;justify-content: center;align-items: center;
    
    height: 34px;
}

/* Button1 [forNavigation] */
nav>div>div>div:nth-child(1){
    width: 84px;
    height: 34px;
    display: flex;justify-content: center;align-items: center;
}

/* BUTTON */
.navButton1{
    width: 64px;
    height: 14px;
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}

/* Button2 [forNavigation] */
nav>div>div>div:nth-child(2){
    width: 91px;
    height: 34px;
    display: flex;justify-content: center;align-items: center;
}

/* BUTTON */
.navButton2{
    width: 71px;
    height: 14px;  
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}
/*--------------------------------------------------*/
.memberProfileButton,.memberHistoryOrderButton,.calendarButton{
    cursor: pointer;
}
.memberProfileButton:hover,.memberHistoryOrderButton:hover,.calendarButton:hover{
    scale: 1.1;
}
/*-----------------------------------------------------*/
aside{
    width: min(90%, 1200px);
    margin-top: 30px;
    display: flex; justify-content: center;
}
aside>div{
    width: min(90%, 960px);; height: 50px;
    display: flex;justify-content: space-around;align-items: center;
    
}
aside>div>div{
    width: 120px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}
aside>div>div:nth-child(5){
    text-align: start;
}
aside>div>div:nth-child(2),aside>div>div:nth-child(4){
    width: 20px;
}
main{
    width: min(100%, 1200px);
    margin-top: 40px;
    display: flex; flex-direction: column; align-items: center;
}
section{
    width: min(90%, 1200px);
    margin-top: 40px;
    display: flex; flex-direction: column; align-items: center;
}
.memberProfileField,.memberPassword,.memberHistoryOrder,.memberHistoryConsume,.memberHistoryTour {
    margin-bottom: 40px;
    padding:10px;
    width:min(90%, 980px); 
    border:#448899 solid 1px;
    display: flex; flex-direction: column; align-items: flex-start;
    position: relative;
} 
.chartBox{
    width:min(95%, 980px); 
    margin-left: 10px;
}
legend {
    color:#448899;
    padding:5px 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px; 
    background:white;
}
.memberProfileField>div,.memberPassword>div,.memberHistoryOrderCard,.memberHistoryConsume>div{
    width: 90%; height: 38px;
    margin-left: 15px;margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    position: relative;
}
/*
.memberProfileField>div:nth-child(9){
    margin-left: 0;
    width: 90%;
    justify-content: flex-end;
}*/
.hintMessage{
    width: 12px; height: 12px;
    position: absolute; left:68px; bottom: 10px;
}
.editProfileButton{
    width: 24px; height: 24px;
    position: absolute;
    right: 15px; bottom: 15px;
    cursor: pointer;
    z-index: 30;
}
.editProfileButton:hover{
    scale: 1.05;
}

.sendProfileButton{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background: #448899;
    width: 70px; height: 35px;
    border-radius: 6px;
    position: absolute;
    right: 15px; bottom: 15px;
    margin-left: 20px;
    cursor: not-allowed; 
}
.resetProfileButton{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background: #448899;
    width: 70px; height: 35px;
    border-radius: 6px;
    position: absolute;
    right: 90px; bottom: 15px;
    cursor: pointer; 
}

.profileEditInput,.passwordEditInput{
    box-sizing: border-box;
    width: 230px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    text-indent: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-left: 50px;
    cursor: not-allowed;
    position: relative;
}

input[type=date]{
    position: relative;
}
::-webkit-calendar-picker-indicator{
    position: absolute;
    width: 24px; height: 24px;
    top: 5px; right: 10px;
    cursor: pointer;
}
.memberProfileField>div>div:nth-child(1),.memberPassword>div>div:nth-child(1),.memberHistoryOrderTitle,.memberHistoryConsume>div>div:nth-child(1){
    width: 80px; height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.memberHistoryOrderTitle{
    width: auto;
}
.memberHistoryOrderNumber{
    cursor: pointer;
}
.memberHistoryOrderNumber:hover{
    scale: 1.1;
}
.memberProfile,.memberHistoryOrderNumber,.memberHistoryConsume>div>div:nth-child(2){
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-left: 50px;
}
.memberPassword>div>div:nth-child(3){
    height: 20px;
    margin-left: -10px;
    position: relative;
}
/*-----------------------------------------------------*/
/* 分隔線 */
hr{
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    width: 100%;
}
.separator2{
    width: min(100%, 1200px);
}
.separator1{
    margin-top: 30px;
    width: min(60%, 1200px);
}
.calendarBox{
    width: min(85%, 1200px);height: 660px;
    margin-bottom: 50px; margin-top: 40px;
}
.calendar{
    width: 100%;height: 660px;
    box-shadow: 5px 10px 7px gray;
    padding: 20px;
}
.eye{
   width: 18px;height: 18px; 
   position: absolute; right: 0px;
}
/* ---------------------------------------------------------------*/
/*-----------------------------------------------------*/
.popupHistoryOrder{
    position: absolute;top:20px;
    width: min(90%, 1200px);
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    z-index: 100;
}
.popupHistoryOrder>div:nth-child(1){
    width: 100%; height: 10px; 
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
}
.popupHistoryOrder>div:nth-child(3){
    margin-top: 30px;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;
}
.popupHistoryOrder>div:nth-child(5){
    height: 600px; overflow-y:scroll;
    width: min(90%, 1200px);
}
.popupHistoryOrder>div:nth-child(7){
    width: min(90%, 1200px);
    margin-top: 20px; margin-bottom: 30px;
}
.popupHistoryOrder>div:nth-child(7)>div{
    width: 100%;
    margin-bottom: 10px;
    display: flex; justify-content: flex-start;
}
.popupHistoryOrder>div:nth-child(7)>div>div:nth-child(1){
    width: 70px;
}
.popupHistoryOrder>div:nth-child(7)>div>div:nth-child(2){
    margin-left: 30px;
}
.popupHistoryOrderCancelButton{
    position: absolute; top: 30px; right: 20px;
    width: 16px; height: 16px;
    background: url(/static/pic/icon_close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.bookingCardBox{
    width: 90%;
    margin-bottom: 30px;
    display: flex;flex-direction: column;
}
.bookingCard{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    display: flex; justify-content: flex-start; align-items: center;
}
/* icon / delete */
.deleteIcon{
    position: absolute;
    width: 0px; height: 0px;
    right: 0px; top: 0px;
    cursor: pointer;
}
/* picture */
.attractionImageBox{
    width: 250px; height: 200px;
    box-shadow: 0px 4px 10px #AAAAAA;
}
.attractionImage{
    width: 250px; height: 200px;
    object-fit: cover;
    object-position: center;
}
/* info */    
.infoBox{
    width: min(100%, 700px); height: 170px;
    margin-left: 30px; margin-bottom: 30px;
    display: flex; flex-direction: column; align-items: flex-start;
}
/* 台北一日遊：平安鐘 */
.attractionName{
    height: 14px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #448899;
}
/* Frame 1  Frame 2  Frame 3  Frame 4 */
.bookingDateBox,.bookingTimeBox,.bookingPriceBox,.attractionAddressBox,.bookingIdBox{
    width: min(100%, 700px); height: 24px;
    margin-top: 15px;
    display: flex; justify-content: flex-start; align-items: center;
}
.bookingDateBox{
    margin-top: 25px;
}
/* 日期： */
.bookingDateTitle,.bookingTimeTitle,.bookingPriceTitle,.attractionAddressTitle,.bookingIdTitle{
    height: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 1px;
    color: #666666;
}
/* 2021-04-23 */
.bookingDate,.bookingTime,.bookingPrice,.attractionAddress,.bookingId{
    height: 14px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666; 
}
/*----------------------------------------------------------*/

/* footer */
footer{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;
    /* Gray 700 */
    background: #757575;   
}

/* div */
footer>div{
    width: 234px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;align-items: center;justify-content: center;
}

/* COPYRIGHT © 2021 台北一日遊 */
footer>div>div{
    width: 234px;
    height: 14px;
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    /* Additional Color/White */
    color: #FFFFFF; 
}


/*-----------------------------------------------------*/

@media (max-width:640px){
    .bookingCard{
        flex-wrap: wrap;
        justify-content: center;
    }
    .attractionImageBox,.attractionImage{
        width: 100%; height: 256px; 
    }
    .deleteIcon{
        top:461px;
    }
    .infoBox{
        margin-left: 0px; margin-top: 35px;
    }
    /*---------------*/
    .memberPassword>div{
        width: 80%;
    }
    .memberProfile>div>input,.memberPassword>div>input{
        width: min(80%,200px);
        margin-left: 20px;
    }
}
@media (max-width:400px){
    header{
        width: 340px
    }
    .emptyState{
        width: 340px;
    }
    section{
        width: 340px;
    }
    .attractionImageBox,.attractionImage{
        width: 340px; height: 200px; 
    }
    .deleteIcon{
        top:405px;
    }
    main{
        width: 340px;
    }
    .confirmBox{
        margin-bottom: 62px;
    }
    nav{
        width: 360px;
        height: 54px;
    }
    nav>div{
        width: 360px;
        top:0;left: 0;
    }
    nav>div>h2{
        padding-left: 10px;
    }
    .separator1{
        border:0px;
        height: 0px;
    }
    
    .sloganBar{
        width: 340px; 
        top: 76px; 
         
    }
    .sloganBar>div{
        width: 320px;
        margin-left: 10px;
    }
    .slogan,.slogan>h1,.slogan>div{
        width: 320px;  
    }
    /* ------------------------ */
    .memberProfile>div>input,.memberPassword>div>input{
        margin-left: 0px;
    }
}