/*@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap);
/* 取消一些預設樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
    text-decoration: none;
}
a{
    color: #666666;
    text-decoration: underline;
    margin-left: 3px;margin-right: 3px;
}

/* [Desktop] index (w:1920) */
body{
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    position: relative; 
    font-family: "Noto Sans TC", sans-serif;
    font-style: normal;
    display: flex; flex-direction: column; align-items: center;
}

/* [Desktop] Navigation */
nav{
    position: sticky; /*永遠在最上面*/
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    z-index: 20;
    display: flex;justify-content: center;align-items: center;
}

/* div */
nav>div{
    width: min(90%, 1200px);
    height: 34px;
    left: 360px;
    top: 10px;
    display: flex;justify-content: space-between;
}

/* 台北一日遊 */
nav>div>h2>a{
    width: 150px;
    height: 34px;
    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
}

/* Frame 2 */
nav>div>div{
    /* Auto layout */
    display: flex;justify-content: center;align-items: center;
    
    height: 34px;
}

/* Button1 [forNavigation] */
nav>div>div>div:nth-child(1){
    width: 84px;
    height: 34px;
    display: flex;justify-content: center;align-items: center;
}

/* BUTTON */
.navButton1{
    width: 64px;
    height: 14px;
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}

/* Button2 [forNavigation] */
nav>div>div>div:nth-child(2){
    width: 91px;
    height: 34px;
    display: flex;justify-content: center;align-items: center;
}

/* BUTTON */
.navButton2{
    width: 71px;
    height: 14px;  
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}
/*-----------------------------------------------------*/
/* headline */
header{
    height: 27px;
    display:flex; flex-direction: column; justify-content: flex-start; align-items: center;
    margin-top: 40px;margin-bottom: 100px;
}
header>div{
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 15px;
}
.emptyState{
    width: min(90%, 1000px);
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    margin-top: 35px; margin-bottom: 40px;
}
/*-----------------------------------------------------*/
/* [Desktop] Hero section */

.banner{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 0px;
    width: 100%;
    height: 65vh;
    background: url(/static/pic/taipei-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:saturate(1.3);
    z-index: 10;
}

/*-------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------*/
/* 分隔線 */
hr{
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    width: 100%;
}
.separator2{
    width: min(100%, 1200px);
}

/*-----------------------------------------------------*/


/* footer */
footer{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;
    /* Gray 700 */
    background: #757575;    
}

/* div */
footer>div{
    width: 234px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;align-items: center;justify-content: center;
}

/* COPYRIGHT © 2021 台北一日遊 */
footer>div>div{
    width: 234px;
    height: 14px;
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    /* Additional Color/White */
    color: #FFFFFF; 
}
.emptyFooter{
    width: 100%;
    height: 761px;
    background: #757575; 
}


/*-------------------------------------------------------------------------*/

@media (max-width:360px){
    header{
        width: 340px
    }
    .emptyState{
        width: 340px;
    }
    nav{
        width: 360px;
        height: 54px;
    }
    nav>div{
        width: 360px;
        top:0;left: 0;
    }
    nav>div>h2{
        padding-left: 10px;
    }
    .separator1{
        border:0px;
        height: 0px;
    }
    .banner{
        width: min(100%, 360px);
    }
}