.memberProfileButton,
.memberHistoryOrderButton,
.calendarButton {
    cursor: pointer;
}
.memberProfileButton:hover,
.memberHistoryOrderButton:hover,
.calendarButton:hover {
    scale: 1.1;
}
/*-----------------------------------------------------*/
.memebercenterLists {
    width: min(90%, 1200px);
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.memebercenterLists > div {
    width: min(90%, 960px);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.memebercenterLists > div > div {
    width: 120px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}
.memebercenterLists > div > div:nth-child(5) {
    text-align: start;
}
.memebercenterLists > div > div:nth-child(2),
.memebercenterLists > div > div:nth-child(4) {
    width: 20px;
}
.memebercenterMain {
    width: min(100%, 1200px);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    width: min(90%, 1200px);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memberProfileField,
.memberPassword,
.memberHistoryOrder,
.memberHistoryConsume,
.memberHistoryTour {
    margin-bottom: 40px;
    padding: 10px;
    width: min(90%, 980px);
    border: #448899 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.chartBox {
    width: min(95%, 980px);
    margin-left: 10px;
}
legend {
    color: #448899;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    background: white;
}
.memberProfileField > div,
.memberPassword > div,
.memberHistoryOrderCard,
.memberHistoryConsume > div {
    width: 95%;
    height: 38px;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.memberProfileField > div:nth-child(10),
.memberPassword > div:nth-child(9) {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 95%;
    justify-content: flex-end;
}

.hintMessage {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 68px;
    bottom: 10px;
}
.editProfileButton {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    z-index: 30;
}
.editProfileButton:hover {
    scale: 1.05;
}

.headshot {
    position: absolute;
    top: 0;
    right: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: #448899 solid 1px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #aabbcc;
    z-index: 200;
}
.headshot > img {
    width: 100%;
    height: 200px;
    border: 0 px;
    object-fit: cover;
}
input[type="file"] {
    opacity: 0;
    font-size: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.chooseHeadshotBox {
    width: 100%;
    display: flex;
}
.chooseHeadshotBox > button {
    width: 100%;
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    background: #448899;
    position: relative;
}
.resizeHeadshotBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    width: min(100%, 600px);
    height: 540px;
    z-index: 2000;
    background-color: white;
    border-radius: 5px;
    color: #666666;
    box-shadow: 0px 0px 20px #aabbcc;
}
.resizeHeadshotBox > div:nth-child(1) {
    width: min(100%, 600px);
    height: 20px;
    background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
    border-radius: 6px 6px 0px 0px;
}
.resizeHeadshotBox > div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: relative;
}
.resizeHeadshotBox > div:nth-child(2) > div:nth-child(1) {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.resizeHeadshotBox > div:nth-child(2) > div:nth-child(2) {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.resizeHeadshotBox > div:nth-child(2) > div:nth-child(2) > div:nth-child(1),
.resizeHeadshotBox > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}
.resizeHeadshotBox > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    width: 80px;
    height: 40px;
    background-color: #448899;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #ffffff;
}
/*---------------------------------------------*/
.loadingBox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 200;
}

.loadingNumber {
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    position: absolute;
    color: #66aabb;
}
.lds-dual-ring {
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #66aabb;
    border-color: #66aabb transparent #66aabb transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*-----------------------------------------------------------*/
.sendProfileButton {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background: #448899;
    width: 70px;
    height: 35px;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.resetProfileButton {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background: #448899;
    width: 70px;
    height: 35px;
    border-radius: 6px;
    cursor: pointer;
}

.profileEditInput,
.passwordEditInput {
    box-sizing: border-box;
    width: 230px;
    height: 38px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-indent: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-left: 50px;
    cursor: not-allowed;
    position: relative;
}
.profileEditInput {
    cursor: pointer;
}
input[type="date"] {
    position: relative;
}
::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.memberProfileField > div > div:nth-child(1),
.memberPassword > div > div:nth-child(1),
.memberHistoryOrderTitle,
.memberHistoryConsume > div > div:nth-child(1) {
    width: 80px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.memberHistoryOrderTitle {
    width: 90px;
}
.memberHistoryOrderNumber {
    cursor: pointer;
}
.memberHistoryOrderNumber:hover {
    scale: 1.1;
}
.memberProfile,
.memberHistoryOrderNumber,
.memberHistoryConsume > div > div:nth-child(2) {
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-left: 50px;
}
.memberPassword > div > div:nth-child(3) {
    height: 20px;
    margin-left: -10px;
    position: relative;
}
/*-----------------------------------------------------*/
/* 分隔線 */
hr {
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    width: 100%;
}
.separator2 {
    width: min(100%, 1200px);
}
.separator1 {
    margin-top: 30px;
    width: min(60%, 1200px);
}
.calendarBox {
    width: min(85%, 1200px);
    height: 660px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.calendar {
    width: 100%;
    height: 660px;
    box-shadow: 5px 10px 7px gray;
    padding: 20px;
}
.eye {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0px;
}
/*-----------------------------------------------------*/
.popupHistoryOrder {
    position: absolute;
    top: 20px;
    width: min(90%, 1200px);
    background: #ffffff;
    box-shadow: 0px 4px 60px #aaaaaa;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}
.popupHistoryOrder > div:nth-child(1) {
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
    border-radius: 6px 6px 0px 0px;
}
.popupHistoryOrder > div:nth-child(3) {
    margin-top: 30px;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;
}
.popupHistoryOrder > div:nth-child(5) {
    height: 600px;
    overflow-y: scroll;
    width: min(90%, 1200px);
}
.popupHistoryOrder > div:nth-child(7) {
    width: min(90%, 1200px);
    margin-top: 20px;
    margin-bottom: 30px;
}
.popupHistoryOrder > div:nth-child(7) > div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}
.popupHistoryOrder > div:nth-child(7) > div > div:nth-child(1) {
    width: 70px;
}
.popupHistoryOrder > div:nth-child(7) > div > div:nth-child(2) {
    margin-left: 30px;
}
.popupHistoryOrderCancelButton {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url(/static/pic/icon_close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.bookingCardBox {
    width: 90%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.bookingCard {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* icon / delete */
.deleteIcon {
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
/* picture */
.attractionImageBox {
    width: 250px;
    height: 200px;
    box-shadow: 0px 4px 10px #aaaaaa;
}
.attractionImage {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
/* info */
.infoBox {
    width: min(100%, 700px);
    height: 170px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* 台北一日遊：平安鐘 */
.attractionName {
    height: 14px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #448899;
}
/* Frame 1  Frame 2  Frame 3  Frame 4 */
.bookingDateBox,
.bookingTimeBox,
.bookingPriceBox,
.attractionAddressBox,
.bookingIdBox {
    width: min(100%, 700px);
    height: 24px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bookingDateBox {
    margin-top: 25px;
}
/* 日期： */
.bookingDateTitle,
.bookingTimeTitle,
.bookingPriceTitle,
.attractionAddressTitle,
.bookingIdTitle {
    height: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 1px;
    color: #666666;
}
/* 2021-04-23 */
.bookingDate,
.bookingTime,
.bookingPrice,
.attractionAddress,
.bookingId {
    height: 14px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
/*----------------------------------------------------------*/

@media (max-width: 850px) {
    .headshot {
        position: relative;
        right: 0;
        margin-left: 10px;
    }
    .bookingCard {
        flex-wrap: wrap;
        justify-content: center;
    }
    .attractionImageBox,
    .attractionImage {
        width: 100%;
        height: 256px;
    }
    .deleteIcon {
        top: 461px;
    }
    .infoBox {
        margin-left: 0px;
        margin-top: 35px;
    }
}
@media (max-width: 640px) {
    /*---------------*/
    .memberPassword > div {
        width: 80%;
    }
    .memberPassword > div > input {
        width: min(80%, 200px);
        margin-left: 20px;
    }
    .profileEditInput {
        text-indent: 0;
        width: 190px;
        margin-left: 20px;
    }
    .memberProfile {
        margin-left: 20px;
    }
    .memberProfileField > div:nth-child(9),
    .memberPassword > div:nth-child(9) {
        margin-bottom: 0;
        margin-left: 0;
    }
}
@media (max-width: 400px) {
    header {
        width: 340px;
    }
    .emptyState {
        width: 340px;
    }
    section {
        width: 340px;
    }
    .attractionImageBox,
    .attractionImage {
        width: 340px;
        height: 200px;
    }
    .deleteIcon {
        top: 405px;
    }
    main {
        width: 340px;
    }
    .confirmBox {
        margin-bottom: 62px;
    }
    .separator1 {
        border: 0px;
        height: 0px;
    }

    .sloganBar {
        width: 340px;
        top: 76px;
    }
    .sloganBar > div {
        width: 320px;
        margin-left: 10px;
    }
    .slogan,
    .slogan > h1,
    .slogan > div {
        width: 320px;
    }
    /* ------------------------ */
    .memberProfile > div > input,
    .memberPassword > div > input {
        margin-left: 0px;
    }
    .memberProfileField > div:nth-child(9),
    .memberPassword > div:nth-child(9) {
        justify-content: center;
    }
}
